//-
//- Common usage mixins
//- --------------------------------------------------
-
	/**
	* @desc Get the resolution of the image from its name
	* @param {string} imgName - image name
	* @return {array} - image width and height
	*/
	function getImageSize( imgName ) {
		try {
			return imgName.match( '[0-9]+(x)[0-9]+' )[0].split( 'x' );
			} catch ( error ) {
			if( debug ) console.warn( 'Image resolution is not specified in the image name "'+ imgName +'"' );
			return [];
		}
	}

	/**
	* @desc Sets the image extension if it is missing
	* @param {string} imgName - image name
	* @return {string} - image name with extension
	*/
	function setImageExtension( imgName ) {
		try {
			if( imgName.match( '(.jpg|.png|.gif)$')[0] ) return imgName;
			} catch ( error ) {
			if( debug ) console.warn( 'Image extension is not specified in the image name "'+ imgName +'"' );
			return /:\/\//g.test( imgName ) ? imgName : imgName +'.jpg';
		}
	}

	/**
	* @desc Adds 'images/' if the link is not external
	* @param {string} imgName - image name
	* @return {string} - image name
	*/
	function setImagePath( imgName ) {
		return /:\/\//g.test( imgName ) ? ('http' + imgName.split('http').pop()).split('.jpg')[0].split('.png')[0] : 'images/' + imgName;
	}
	
//- Image
	@param {string} name
mixin img( name )
	- var size = getImageSize( name );
	img( src= setImagePath(setImageExtension(name)), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Jpg image
	@param {string} name
mixin jpg( name )
	- var size = getImageSize( name );
	img( src= setImagePath(name + '.jpg'), alt='', width= size[0], height= size[1] )&attributes( attributes )


//- Png image
	@param {string} name
mixin png( name )
	- var size = getImageSize( name );
	img( src= setImagePath(name + '.png'), alt='', width= size[0], height= size[1] )&attributes( attributes )

//- Quote mark
mixin quote-mark(objClass)
	svg(class=objClass, version='1.1', baseprofile='tiny', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='30.234px', height='23.484px', viewbox='0 0 30.234 23.484', xml:space='preserve')
		g
			path(d='M12.129,0v1.723c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959\
							c0,0.445,0.07,0.773,0.211,0.984c0.093,0.141,0.199,0.211,0.316,0.211c0.117,0,0.293-0.082,0.527-0.246\
							c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.519,0.545,3.551,1.635c1.031,1.09,1.547,2.385,1.547,3.885\
							c0,1.57-0.592,2.953-1.775,4.148c-1.184,1.195-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426\
							C0.715,19.441,0,17.274,0,14.555c0-3.164,0.972-6,2.918-8.508C4.863,3.539,7.933,1.524,12.129,0z M29.039,0v1.723\
							c-2.438,0.891-4.348,2.291-5.73,4.201c-1.383,1.911-2.074,3.897-2.074,5.959c0,0.445,0.07,0.773,0.211,0.984\
							c0.094,0.141,0.199,0.211,0.316,0.211s0.293-0.082,0.527-0.246c0.75-0.539,1.699-0.809,2.848-0.809c1.336,0,2.52,0.545,3.551,1.635\
							s1.547,2.385,1.547,3.885c0,1.57-0.592,2.953-1.775,4.148s-2.619,1.793-4.307,1.793c-1.969,0-3.668-0.809-5.098-2.426\
							s-2.145-3.785-2.145-6.504c0-3.164,0.973-6,2.918-8.508C21.773,3.539,24.844,1.524,29.039,0z')

//- Divider
mixin divider
	// Divider
	.container: .divider
	='\n'


//- Thumbnail
//- Original image naming format: pagename-{X}-1200x600_original.jpg
mixin img-thumbnail(obj)
	a(href='images/' + obj.original + '.jpg', class='img-thumbnail-variant-' + obj.number, data-lightgallery='item')
		figure
			+jpg(obj.img, obj.imgClass)
		.caption
			span.icon.icon-lg.linear-icon-magnifier
			
			 
//- list inline
mixin list-inline-icon(obj)
	ul(class=obj.list_class)
		each item in obj.items
			li: a(href='#' class=item).icon

mixin list-inline-icon(obj)
	ul(class=obj.list_class)
		each item in obj.items
			li: a(href='#' class=item).novi-icon.icon

mixin post-project(obj)
	// Post project
	article.post-project
		+img-thumbnail({
			number: 1,
			original: obj.original_img,
			img: obj.img,
			imgClass: 'post-project__image'
		})
		.post-project__body
			h6.post-project__title: a(href=projectCategory)=obj.title
			p=obj.text
			a.button.button-link(href=projectCategory) View Projects

mixin parallax(obj)
	section.section.parallax-container.context-dark(data-parallax-img=obj.src)
		.parallax-content(class=obj.class)
			block
	="\n"

mixin pricing-table(obj)
	.pricing-table-wrap
		.pricing-table(class=obj.class)
			.pricing-label
				span=obj.label
				svg(width='86px', height='86px', viewbox='0 0 86 86')
					path(d='M73.4,73.4L67.3,73l-0.8,6.2l-6-1.8l-2.1,5.9l-5.5-3l-3.2,5.3l-4.7-4L40.7,86L37,81.1l-5.1,3.5L29.2,79\
						l-5.7,2.4l-1.4-6l-6.1,1.1l-0.2-6.2l-6.2-0.2l1.1-6.1l-6-1.4L7,56.8l-5.6-2.7L4.9,49L0,45.3L4.5,41l-4-4.7L5.8,33l-3-5.5l5.9-2.1\
						l-1.8-6l6.2-0.8l-0.5-6.2l6.2,0.5l0.8-6.2l6,1.8l2.1-5.9l5.5,3l3.2-5.3l4.7,4L45.3,0L49,4.9l5.1-3.5L56.8,7l5.7-2.4l1.4,6l6.1-1.1\
						l0.2,6.2l6.2,0.2L75.3,22l6,1.4L79,29.2l5.6,2.7L81.1,37l4.9,3.8L81.5,45l4,4.7L80.2,53l3,5.5l-5.9,2.1l1.8,6L73,67.3L73.4,73.4z')

			.pricing-header
				h5=obj.title
				.price
					span=obj.price
					span /month
			.pricing-body
				block

			.pricing-footer
				a.button.button-primary(href='#') Buy now!

mixin portfolio-item(obj)
	if obj.album
		a(href=obj.href class=obj.class).img-thumbnail-variant-3
			+jpg(obj.img)
			span.label-custom.label-white=obj.label_text
			.caption
				span.icon.hover-top-element(class=obj.icon_class1)
				ul.list-inline-tag.hover-top-element
					each item in obj.items
						li= item
				p.heading-5.hover-top-element=obj.title
				.divider
				p.small.hover-bottom-element=obj.desc
				span.icon.arrow-right(class=obj.icon_class2)

	if obj.single_img
		a(href=setImagePath(obj.original + '.jpg'), class='img-thumbnail-variant-' + obj.number, data-lightgallery="item")
			figure
				+jpg(obj.img)
			.caption
				span.icon.hover-top-element(class=obj.icon_class1)
				ul.list-inline-tag.hover-top-element
					each item in obj.items
						li= item
				p.heading-5.hover-top-element=obj.title
				.divider
				p.small.hover-bottom-element=obj.desc
				span.icon.arrow-right(class=obj.icon_class2)

//- Thumbnail
//- Original image naming format: pagename-{X}-1200x600_original.jpg
mixin img-thumbnail(obj)
	a(href='images/' + obj.original + '.jpg', class='img-thumbnail-variant-' + obj.number, data-lightgallery="item")
		figure
			+jpg(obj.img)
		.caption
			span.icon.icon-lg.linear-icon-magnifier
